<!doctype html>
<html>
    <% mount Shared::LayoutHead, page_title: page_title %>
    <body>
        <% mount Shared::FlashMessages, context.flash %>
            <div class="d-flex flex-row flex-grow">
                <div class="d-flex flex-column flex-shrink-0 bg-dark" style="width: 4.5rem;">
                    <a href="/" class="d-block p-3 link-dark text-decoration-none" title="Icon-only" data-bs-toggle="tooltip" data-bs-placement="right">
                    <svg class="bi" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
                    <span class="visually-hidden">Icon-only</span>
                    </a>
                    <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
                    <li>
                        <% link class: "nav-link border-bottom", to: Items::Index do %>

                            <img class="bi" width="24" height="24" role="img" aria-label="Shop" src="/cart.svg" />
                        <% end %>
                    </li>
                    </ul>
                    <div class="dropdown border-top">
                    <a href="#" class="d-flex align-items-center justify-content-center p-3 link-dark text-decoration-none dropdown-toggle" id="dropdownUser3" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="<%= current_user.pic_url %>" alt="mdo" width="24" height="24" class="rounded-circle">
                    </a>
                    <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser3">
                        <li><% link "Profile", to: Me::Show %></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><% link "Log out", to: SignIns::Delete %></li>
                    </ul>
                    </div>
                </div>

                <% content %>
            </div>
    </body>
</html>