<div class="d-flex flex-column flex-shrink-0 p-3 bg-light vtb-padding text-center" style="width:20%">
    <img src="<%= current_user.pic_url %>" class="img-fluid rounded" alt="...">
    <p><%= HTML.escape current_user.message %></p>
    <h3><%= HTML.escape current_user.email %></h3>
    <p><%= HTML.escape current_user.bio %></p>
</div>

<div class="d-flex flex-column flex-shrink-0 p-3 bg-light vtb-padding">
    
</div>